/****** Object:  Table [dbo].[demo]    Script Date: 10/02/2021 22:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[demo](
	[codigo] [int] NULL
) ON [PRIMARY]
GO
