*.dll
*.pdb
fuentes/service/AppServiceColegio/bin/**
fuentes/service/AppServiceColegio/obj/**
fuentes/service/ClassLibrary1/obj/**
fuentes/service/ClassLibrary1/bin/**
fuentes/service/Comunes_Datos/obj/**
fuentes/service/Comunes_Datos/bin/**
fuentes/service/Comunes_Entidades/obj/**
fuentes/service/Comunes_Entidades/bin/**
fuentes/service/Comunes_Negocio/obj/**
fuentes/service/Comunes_Negocio/bin/**
fuentes/service/Persona_Entidades/obj/**
fuentes/service/Persona_Entidades/bin/**
fuentes/service/Seguridad_Datos/obj/**
fuentes/service/Seguridad_Entidades/bin/**
fuentes/service/Seguridad_Entidades/obj/**
fuentes/service/Seguridad_Negocio/bin/**
fuentes/service/Seguridad_Negocio/obj/**
fuentes/web/WebAppColegio/bin/**
fuentes/web/WebAppColegio/obj/**

runtimes/**
*.user
*.PublishSettings
publish.cmd
packages/
.vs/
/fuentes/service/Seguridad_Entidades/obj
/fuentes/service/Seguridad_Negocio/obj
