<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/bootstrap/img/favicon.png">

    <title>IE 6069 - Pachachutec</title>

    <!-- Bootstrap CSS -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/bootstrap/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/bootstrap/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/bootstrap/css/style.css" rel="stylesheet">
    <link href="~/bootstrap/css/style-responsive.css" rel="stylesheet" />
 
</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form"   asp-action="login">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" name="usuario" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Recordar
                    <span class="pull-right"> <a href="#"> Recuperar cuenta?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                @*<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>*@

                @foreach (var item in ViewContext.ViewData.ModelState)
                {
                    if (item.Value.Errors.Any())
                    {
                        <div class="form-group has-error">
                            <label class="control-label" style="text-align:center;" for="inputError">@(string.Join("", item.Value.Errors.Select(x => x.ErrorMessage)))</label> 
                        </div> 
                    }
                }

            </div>
        </form>
        <div class="text-right">
            <div class="credits">
                
            </div>
        </div>
    </div>


</body>

</html>
 