@using  WebAppColegio.Models.Response
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Principal</h1>

@{
    var autenticacionResponse = JsonConvert.DeserializeObject<AutenticacionResponse>(Convert.ToString(TempData["Profile"]));
    // var autenticacionResponse = System.Text.Json.JsonSerializer.Deserialize<WebAppColegio.Models.Response.AutenticacionResponse>(HttpContext.Session.Get("Profile"));
}
<h2>@autenticacionResponse.Perfil</h2>
