@using  WebAppColegio.Models.Response
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@{
    //var autenticacionResponse = JsonConvert.DeserializeObject<AutenticacionResponse>(Convert.ToString(TempData["Permisos"])); 
    // var autenticacionResponse = System.Text.Json.JsonSerializer.Deserialize<WebAppColegio.Models.Response.AutenticacionResponse>(HttpContext.Session.Get("Profile"));
} 
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cursos</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cursos</li>
            </ol>
        </div>

        <div class="row">
            <!-- General Colors-->
            <div class="col-lg-12">
                <div class="card mb-12">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">General Colors</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 mb-12">
                                <div class="card bg-primary text-white">
                                    <div class="card-body">
                                        Matematica
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-success text-white">
                                    <div class="card-body">
                                        LENGUAJE
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-info text-white">
                                    <div class="card-body">
                                        RELIGION
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-warning text-white">
                                    <div class="card-body">
                                        ALGEBRA
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-danger text-white">
                                    <div class="card-body">
                                        ARITMETICA
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div><div class="col-lg-6 mb-4">
                                <div class="card bg-danger text-white">
                                    <div class="card-body">
                                        ARTE
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-secondary text-white">
                                    <div class="card-body">
                                        EDUCACION FISICA
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-secondary text-white">
                                    <div class="card-body">
                                        SOCIALES
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-secondary text-white">
                                    <div class="card-body">
                                        SOCIALES
                                        <div class="text-white-50 small">#Ingresar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

       
        <!--Row-->
    </div> 