@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@model IEnumerable<WebAppColegio.Models.Response.CursoResponse>
@using  WebAppColegio.Models.Response

@{
    var usuario = JsonConvert.DeserializeObject<AutenticacionResponse>(HttpContextAccessor.HttpContext.Session.GetString("UsuarioSession"));
}

@foreach (var item in Model)
{
    <div class="col-lg-6 mb-4">
        <div class="card text-white" style="background-color: #@item.estilo">
            <div class="card-body">
                @{
                    var _codigoCurso = item.codigo;
                    var _codigoClase = item.clase;
                    var _nombreCurso = item.nombre;
                }
                @*<div class="text-white-50 small">#Ingresar</div>*@
                @{
                    if (usuario.perfil.Equals("Director"))
                    {

                        <a class="sidebar-brand d-flex align-items-center" style="color: white;"
                          href='@item.estado ' target="_blank" >@Html.DisplayFor(modelItem => item.nombre)</a>
                    }
                    else
                    {

                        <a class="sidebar-brand d-flex align-items-center" style="color: white;"
                           asp-controller="Curso" asp-route-curso=@_codigoCurso asp-route-clase=@_codigoClase asp-route-cursoNombre=@_nombreCurso asp-action="Detalle">@Html.DisplayFor(modelItem => item.nombre)</a>
                    }
                }
            </div>
        </div>
    </div>
}

<div class="col-lg-6 mb-4">

</div>
<div class="col-lg-6 mb-4">

</div>