@model WebAppColegio.Models.Response.CursoDetalleResponse

@{
    ViewData["Title"] = "CursoDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" media="all" href="~/estilos/master.css">
<link rel="stylesheet" media="all" href="~/estilos/curso.css">
<div id="main" class="ic-Layout-columns">
    <div class="ic-Layout-watermark"></div>
    <div id="not_right_side" class="ic-app-main-content">
        <div id="content-wrapper" class="ic-Layout-contentWrapper">
            <div id="content" class="ic-Layout-contentMain" role="main">
                <div class="header-bar">
                    <div class="header-bar-right header-bar__module-layout">
                        <div class="header-bar-right__buttons">
                            <button class="btn" id="expand_collapse_all" aria-expanded="true" data-expand="false" data-url="/courses/10359/collapse_all_modules">Colapsar Todo</button>
                        </div>
                    </div>
                </div>
                <div class="item-group-container" id="context_modules_sortable_container">
                    <div id="context_modules" aria-label="Módulos del curso" class="ig-list ">
                        <div class="item-group-condensed context_module student-view completed" aria-label="Cabecera principal" data-workflow-state="active" id="context_module_161594">
                            <a id="module_161594"></a>
                            <div class="ig-header header" id="161594">
                                <span class="sortable-handle reorder_module_link" title="Arrastrar para reordenar los módulos" style="display: none;">
                                    <i aria-hidden="true" class="icon-drag-handle"></i>
                                </span>
                                <h2 class="screenreader-only">Curso de Análisis de Sistemas Hidráulicos</h2>
                                <span role="button" tabindex="0" href="" class="ig-header-title collapse_module_link ellipsis" aria-controls="context_module_content_161594" aria-expanded="true" aria-label="Curso de Análisis de Sistemas Hidráulicos activar o desactivar visibilidad del módulo" title="Curso de Análisis de Sistemas Hidráulicos">
                                    <i class="fas fa-sort-down"></i>
                                    <span class="name">@Model.cursoNombre</span>
                                </span>
                                <span role="button" tabindex="0" href="" class="ig-header-title expand_module_link ellipsis" aria-controls="context_module_content_161594" aria-expanded="false" aria-label="Curso de Análisis de Sistemas Hidráulicos activar o desactivar visibilidad del módulo" title="Curso de Análisis de Sistemas Hidráulicos">
                                    <i class="fas fa-sort-down"></i>
                                    <span class="name ellipsis">@Model.cursoNombre</span>
                                </span>
                            </div>
                            <div class="content" id="context_module_content_161594">
                                <ul class="ig-list items context_module_items ">
                                    <li id="context_module_item_419762" style="" class="context_module_item     student-view     discussion_topic          indent_0          _requirement     DiscussionTopic_129274     dupeable context_module_item_hover">
                                        <div class="ig-row  ig-published student-view">
                                            <a aria-label="FORO-CONSULTAS" tabindex="-1" class="for-nvda" href="/courses/10359/modules/items/419762">
                                                FORO-CONSULTAS
                                            </a>
                                            <span class="type_icon" title="Foro abierto" role="none">
                                                <span class="far fa-comments">
                                                </span>
                                            </span>
                                            <div class="ig-info">
                                                <div class="module-item-title">
                                                    <span class="item_name">
                                                        <a title="FORO-CONSULTAS" class="ig-title title item_link" href="/courses/10359/modules/items/419762">
                                                            FORO-CONSULTAS
                                                        </a>
                                                        <span title="FORO-CONSULTAS" class="title locked_title">FORO-CONSULTAS</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="footer">
                                    <div class="progression_container">
                                        <a href="#" class="progression_details_link" title="Ver el progreso del estudiante para este módulo" style="display: none;">
                                            <span class="progression_started"><span class="progression_started_count">0</span> En progreso</span> <span class="progression_complete"><span class="progression_complete_count">0</span> Completo</span>
                                        </a>
                                        <div class="unlock_details" style="display: none;">
                                            <div class="unlock_at" style="display: none;"></div>
                                            Desbloqueará <span class="displayed_unlock_at">&nbsp;</span>
                                        </div>
                                    </div>
                                    <!-- progression_container -->
                                </div>
                                <!-- footer -->
                            </div>
                        </div>
                        @for (int i = 1; i <= Model.numeroSemanas; i++)
                        {
                            <div class="item-group-condensed context_module student-view completed" aria-label="Semana 01" data-workflow-state="active" id="context_module_161599">
                                <div class="ig-header header" id="161599">
                                    <span role="button" tabindex="0" class="ig-header-title collapse_module_link ellipsis" aria-controls="context_module_content_161599" aria-expanded="true" aria-label="Semana 01: Load Sensing Presure Compesating LSPC activar o desactivar visibilidad del módulo" title="Semana 01: Load Sensing Presure Compesating LSPC">
                                        <i class="fas fa-sort-down"></i>
                                        <span class="name">Semana @i</span>
                                    </span>
                                    <span role="button" tabindex="0" class="ig-header-title expand_module_link ellipsis" aria-controls="context_module_content_161599" aria-expanded="false" aria-label="Semana 01: Load Sensing Presure Compesating LSPC activar o desactivar visibilidad del módulo" title="Semana 01: Load Sensing Presure Compesating LSPC">
                                        <i class="fas fa-sort-down"></i>
                                        <span class="name ellipsis">Semana @i</span>
                                    </span>
                                </div>
                                <div class="content" id="context_module_content_161599">
                                    <ul class="ig-list items context_module_items ">

                                        <li id="context_module_item_419775" style="" class="context_module_item     student-view     external_url          indent_0          _requirement     ExternalUrl_0">
                                            <div class="ig-row  ig-published student-view">

                                                <span class="type_icon" title="External Url" role="none">
                                                    <span class="fas fa-link">
                                                    </span>
                                                </span>
                                                <div class="ig-info">
                                                    <div class="module-item-title">
                                                        @{
                                                            var nombreDocumento = "";
                                                            var temporal = Model.material.FirstOrDefault(a => a.nroSemana == i);
                                                            if (null != temporal)
                                                            {
                                                                nombreDocumento = temporal.nombre.Replace("/docente/", "");
                                                            }
                                                            if (nombreDocumento == "")
                                                            {
                                                                nombreDocumento = "Adjuntar documento";
                                                            }
                                                        }
                                                        <span class="item_name">
                                                            <a title="Material de clase" class="ig-title title item_link" href="/Curso/Download?blobName=@nombreDocumento">
                                                                Material: @nombreDocumento
                                                            </a>
                                                            <a href="/Curso/Download?blobName=@nombreDocumento">Descargar</a>                                                           
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="module-item-status-icon"></div>
                                            </div>
                                        </li>

                                        <li id="context_module_item_419780" style="" class="context_module_item     student-view            assignment     also_assignment     indent_0          _requirement     Assignment_240450     dupeable">
                                            <div class="ig-row  ig-published student-view">

                                                <span class="type_icon" title="Assignment" role="none">
                                                    <span class="fas fa-tasks">
                                                    </span>
                                                </span>
                                                <div class="ig-info">
                                                    <div class="module-item-title">
                                                        <span class="item_name">
                                                            <a title="Laboratorio 01" class="ig-title title item_link" href="">
                                                                Tarea: @nombreDocumento
                                                            </a>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.js" as="script" type="text/javascript">
<link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/es-c-2e9fc8e1c3.js" as="script" type="text/javascript">
<link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/main-e-6ab1539807.js" as="script" type="text/javascript">
<script>
    Object.assign(
        ENV,
        {}
    )
</script>
<script>
    INST = { "environment": "production", "allowMediaComments": true, "kalturaSettings": { "domain": "nv.instructuremedia.com", "resource_domain": "nv.instructuremedia.com", "rtmp_domain": "iad.rtmp.instructuremedia.com", "partner_id": "9", "subpartner_id": "0", "player_ui_conf": "0", "kcw_ui_conf": "0", "upload_ui_conf": "0", "max_file_size_bytes": 534773760, "do_analytics": false, "hide_rte_button": false, "js_uploader": true }, "logPageViews": true, "maxVisibleEditorButtons": 3, "editorButtons": [{ "name": "Favoritos de Commons", "id": 1, "favorite": false, "url": "https://lor.instructure.com/api/lti/favorite-resources", "icon_url": "https://lor.instructure.com/img/icon_commons.png", "canvas_icon_class": null, "width": 800, "height": 400, "use_tray": true, "description": "\u003cp\u003eFind and share course content\u003c/p\u003e\n" }, { "name": "Vimeo", "id": 56, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=vimeo", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/vimeo_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eVimeo is a video sharing website on which users can upload, share, and view videos. The community of Vimeo includes indie, professional, and novice filmmakers.\u003c/p\u003e\n" }, { "name": "Graph Builder", "id": 57, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=graph_builder", "icon_url": "https://www.edu-apps.org/tools/graph_builder/icon.png", "canvas_icon_class": null, "width": 475, "height": 770, "use_tray": false, "description": "\u003cp\u003eBuild and embed rich interactive graphs into course content\u003c/p\u003e\n" }, { "name": "Hooda Math", "id": 58, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=hooda_math", "icon_url": "https://www.edu-apps.org/tools/hooda_math/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eOnline math learning games\u003c/p\u003e\n" }, { "name": "Elementary Paper", "id": 59, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=elementary_paper", "icon_url": "https://www.edu-apps.org/tools/elementary_paper/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eBrowse printable writing practice sheets\u003c/p\u003e\n" }, { "name": "Khan Academy", "id": 60, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=khan_academy", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/khan_academy_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch for and embed Khan Academy lessons and exercise into course material. Khan Academy focuses on short lessons on math, science, etc. Uses the embedded player so students earn points for watching videos.\u003c/p\u003e\n" }, { "name": "Funbrain", "id": 61, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=funbrain", "icon_url": "https://www.edu-apps.org/tools/funbrain/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eK-8 online learning activities\u003c/p\u003e\n" }, { "name": "Dropbox", "id": 62, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=dropbox", "icon_url": "http://www.edu-apps.org/tools/dropbox/icon.png", "canvas_icon_class": null, "width": 400, "height": 200, "use_tray": false, "description": "\u003cp\u003eThis lightweight integration lets Dropbox users select and link to files within course content or in conjunction with homework submissions.\u003c/p\u003e\n\n\u003cp\u003eDropbox is a file hosting service offering cloud storage, file synchronization, and client software. Files placed in a Dropbox folder also are accessible through a website and mobile phone applications.\u003c/p\u003e\n\n\u003cp\u003e\u003ca href=\"https://googledrive.com/host/0B5ghu5Vrh0j7X3FCOERVQ1dLSms/dropbox.png\" target=\"_blank\"\u003e \u003cimg src=\"https://googledrive.com/host/0B5ghu5Vrh0j7X3FCOERVQ1dLSms/dropbox.png\" alt=\"Dropbox insert video demonstration image.\"\u003e \u003c/a\u003e\u003c/p\u003e\n\n\u003cp\u003eThe current integration does require that users login to Dropbox each time.\u003c/p\u003e\n" }, { "name": "educreations", "id": 63, "favorite": false, "url": "https://www.edu-apps.org/tool_redirect?id=educreations", "icon_url": "https://www.edu-apps.org/tools/educreations/icon.png", "canvas_icon_class": null, "width": 690, "height": 530, "use_tray": false, "description": "\u003cp\u003eTeacher-recorded whiteboard sessions\u003c/p\u003e\n" }, { "name": "YouTube", "id": 64, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=youtube", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/youtube_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch publicly available YouTube videos. A new icon will show up in your course rich editor letting you search YouTube and click to embed videos in your course material.\u003c/p\u003e\n" }, { "name": "TEDEd", "id": 65, "favorite": false, "url": "https://www.edu-apps.org/lti_public_resources/?tool_id=youtube_ted_ed", "icon_url": "https://www.edu-apps.org/assets/lti_public_resources/ted_ed_icon.png", "canvas_icon_class": null, "width": 560, "height": 600, "use_tray": false, "description": "\u003cp\u003eSearch YouTube videos in the TEDEd Channel. A new icon will show up in your course rich editor letting you search the TEDEd channel and click to embed videos in your course material.\u003c/p\u003e\n" }, { "name": "Insert Math Equation - WIRIS editor", "id": 66, "favorite": false, "url": "https://www.wiris.net/instructure.com/canvas/editor/dialog", "icon_url": "https://www.wiris.net/instructure.com/canvas/editor/icon.gif", "canvas_icon_class": null, "width": 570, "height": 450, "use_tray": false, "description": "\u003cp\u003eInsert and edit mathematical formulas by WIRIS editor\u003c/p\u003e\n" }, { "name": "Insert Chemistry - WIRIS editor", "id": 67, "favorite": false, "url": "https://www.wiris.net/instructure.com/canvas/editor-chemistry/dialog", "icon_url": "https://www.wiris.net/instructure.com/canvas/editor-chemistry/icon.gif", "canvas_icon_class": null, "width": 570, "height": 450, "use_tray": false, "description": "\u003cp\u003eInsert and edit chemistry formulas by WIRIS editor\u003c/p\u003e\n" }, { "name": "Explain Everything", "id": 94, "favorite": false, "url": "https://api.explaineverything.com/napi/v1/static/lti-provider", "icon_url": "https://explaineverything.com/wp-content/uploads/EE-logo-32.png", "canvas_icon_class": null, "width": 800, "height": 400, "use_tray": false, "description": "" }, { "name": "Google Apps", "id": 136, "favorite": false, "url": "https://google-drive-lti-iad-prod.instructure.com/lti/rce-content-selection", "icon_url": "https://google-drive-lti-iad-prod.instructure.com/icon.png", "canvas_icon_class": null, "width": 700, "height": 600, "use_tray": false, "description": "\u003cp\u003eAllows you to pull in documents from Google Drive to Canvas\u003c/p\u003e\n" }, { "name": "Interactive Content – H5P", "id": 551, "favorite": false, "url": "https://tecsupvirtual.h5p.com", "icon_url": "https://tecsupvirtual.h5p.com/img/h5p-icon.png", "canvas_icon_class": null, "width": 800, "height": 600, "use_tray": false, "description": "\u003cp\u003eCreate, share and reuse interactive HTML5 content in your browser\u003c/p\u003e\n" }] };
    ENV = { "ASSET_HOST": "https://du11hjcvx0uqb.cloudfront.net/br", "active_brand_config_json_url": "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.json", "url_to_what_gets_loaded_inside_the_tinymce_editor_css": ["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/responsive_layout_high_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-2301348edc.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/no_variables/bundles/lato_extended-38dc7d1774.css"], "url_for_high_contrast_tinymce_editor_css": ["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/responsive_layout_high_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-2301348edc.css", "https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/no_variables/bundles/lato_extended-38dc7d1774.css"], "current_user_id": "47514", "current_user_roles": ["user", "student"], "current_user_types": [], "current_user_disabled_inbox": false, "files_domain": "cluster51.canvas-user-content.com", "DOMAIN_ROOT_ACCOUNT_ID": "81840000000000001", "k12": false, "use_responsive_layout": true, "use_rce_enhancements": false, "rce_auto_save": false, "help_link_name": "Ayuda", "help_link_icon": "help", "use_high_contrast": true, "disable_celebrations": false, "disable_keyboard_shortcuts": false, "LTI_LAUNCH_FRAME_ALLOWANCES": ["geolocation *", "microphone *", "camera *", "midi *", "encrypted-media *", "autoplay *"], "DEEP_LINKING_POST_MESSAGE_ORIGIN": "https://tecsup.instructure.com", "DEEP_LINKING_LOGGING": null, "SETTINGS": { "open_registration": false, "collapse_global_nav": false, "show_feedback_link": true }, "DIRECT_SHARE_ENABLED": false, "FEATURES": { "cc_in_rce_video_tray": true, "featured_help_links": true, "rce_lti_favorites": true, "assignment_bulk_edit": true, "responsive_awareness": true, "recent_history": true, "responsive_misc": true, "product_tours": false, "module_dnd": true, "files_dnd": true, "unpublished_courses": true, "bulk_delete_pages": true, "usage_rights_discussion_topics": true, "inline_math_everywhere": false, "canvas_k6_theme": false, "new_math_equation_handling": false }, "current_user": { "id": "47514", "display_name": "Quisquiche Siccha, Luis Fernando", "avatar_image_url": "https://tecsup.instructure.com/images/thumbnails/449207/zMkQKWdOu1W1QMixJEmkZ0dqA8OKda2t6eklozvT", "html_url": "https://tecsup.instructure.com/about/47514", "pronouns": null, "avatar_is_fallback": false }, "page_view_update_url": "/page_views/4a54ae53-5316-4dee-9fcc-f915effa2916?page_view_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpIjoiNGE1NGFlNTMtNTMxNi00ZGVlLTlmY2MtZjkxNWVmZmEyOTE2IiwidSI6ODE4NDAwMDAwMDAwNDc1MTQsImMiOiIyMDIwLTEyLTIzVDE3OjQzOjEwLjg3WiJ9.7qAkT7dW3BeqvEglHB3e7zuW40cvZaY5FQLNezro_y0", "context_asset_string": "course_10359", "ping_url": "https://tecsup.instructure.com/api/v1/courses/10359/ping", "TIMEZONE": "America/Lima", "CONTEXT_TIMEZONE": "America/Lima", "LOCALE": "es", "BIGEASY_LOCALE": "es_ES", "FULLCALENDAR_LOCALE": "es", "MOMENT_LOCALE": "es", "course_id": "10359", "CONTEXT_URL_ROOT": "/courses/10359", "DUPLICATE_ENABLED": true, "FILES_CONTEXTS": [{ "asset_string": "course_10359" }], "MODULE_FILE_DETAILS": null, "MODULE_FILE_PERMISSIONS": { "usage_rights_required": false, "manage_files": false }, "MODULE_TRAY_TOOLS": { "module_index_menu": [], "module_group_menu": [] }, "DEFAULT_POST_TO_SIS": false, "NEW_USER_TUTORIALS": { "is_enabled": false }, "CONTEXT_MODULE_ASSIGNMENT_INFO_URL": "/courses/10359/modules/items/assignment_info", "PROCESS_MULTIPLE_CONTENT_ITEMS": true, "COLLAPSED_MODULES": [], "CAN_MANAGE_MODULES": false, "IS_STUDENT": true, "COURSE_ID": "10359", "NO_MODULE_PROGRESSIONS": false, "badge_counts": { "submissions": 2 }, "notices": [], "active_context_tab": "modules" };
</script>
<script>
    //<![CDATA[

    ;["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/America/Lima-c4f1b9fa38.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/America/Lima-c4f1b9fa38.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/es_ES-b838eb0547.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/es-c-2e9fc8e1c3.js", "https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/main-e-6ab1539807.js"].forEach(function (src) {
        var s = document.createElement('script')
        s.src = src
        s.async = false
        document.head.appendChild(s)
    });
    //]]>
</script>
<script>
    //<![CDATA[
    (window.bundles || (window.bundles = [])).push('context_modules');
    (window.bundles || (window.bundles = [])).push('module_dnd');
    (window.bundles || (window.bundles = [])).push('navigation_header');
   //]]>
</script>

